body{
    margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
a{
text-decoration: none;
color: white;

}

header{
    display: flex;
background-color: #14161a;
min-height: 50px;
justify-content: space-between;
align-items: center;
padding: 20px;

}
.logo{
    display: flex;

}
.logo img{
    height: 50px;
    align-items: baseline;
    margin-right: 20px;
}
nav a{
    font-weight: 600;
    padding: 10px;
}
nav a:hover{
    color: red;
} 
@media(max-width:596px){
    header{
        flex-direction: column;
    }
    fav{
        padding: 10px 0px;
    }
}